body {
	background-color:  #D47677;
}


div {
    
    height: 320px;
    padding: 50px 15px;
    background-color: #F0F0F0;
    margin: 100px auto;
    width: 48%;
    box-shadow: 0 0 20px #000
}


h1 {
	color: #7E7E7E;
	text-align: center;
    font-size: 18px;
}


.userpass {
    width: 70%;
    padding: 20px 10px;
    margin: 10px 95px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    color: #AAAAAA;
}





button {
    background-color: #9DD8D4;
    color: white;
    padding: 14px 20px;
    margin: 8px 252px;
    border: none;
    width: 20%;
    font-size: 15px;
}



label {

	display: block;
	color: #AAAAAA;
    margin: 20px 95px;

}




